/* Result.css */
.result {
    margin: 20px;
}

.result h1 {
    text-align: center;
}

.result table {
    width: 100%;
    border-collapse: collapse;
}

.result table, .result th, .result td {
    border: 1px solid black;
}

.result th, .result td {
    padding: 10px;
    text-align: center;
}

@media print {
    .result {
        margin: 0;
    }

    .result h1 {
        font-size: 24px;
    }

    .result table {
        width: 100%;
    }

    .result th, .result td {
        padding: 8px;
    }
}
